---
layout: handbook-page-toc
title: Tools and Resources
description: “Discover GitLab Solutions Architects’ tools and resources”
---
## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= partial("handbook/customer-success/solutions-architects/includes/navigation") %>

## Tools and Resources
{:.no_toc}

Tools and resources provide infomation to help Solution Architects to conduct POV or workshops, respond to RFx, manage customer facing activities, support on-going product learning.

### Education and Enablement

As a Solutions Architect, it is important to be continuously learning more about our product and related industry topics. The [education and enablement handbook page](/handbook/customer-success/education-enablement/) provides a dashboard of aggregated resources that we encourage you to use to get up to speed.

### Proof of Value (POV) Guidelines

Proof of Value (POV), formerly known as Proof of Concept, is conducted during the Technical Evaluation stage with Solutions Architects by  prospects or existing customers to assess the required capabilities based on a set of criteria and value drivers. A POV is a collaboration between GitLab and the prospective or existing customer for evaluating GitLab. Information on the POV guidelines, POV types and process can be found on the [Proof of Value (POV) Guidelines](/handbook/customer-success/solutions-architects/tools-and-resources/pov/) page.

### SaaS Trials for Existing Customers

Paid customers must set up a new namespace on SaaS when trialing Ultimate.  There are two primary reasons for this: 

1. Some paid features are not available in a trial, so a customer might lose functionality they had been using if a trial license is applied
2. GitLab does not have an appropriate mechanism for applying and reverting a trial license on SaaS without the namespace potentially being reverted to free when the trial expires ([see issue](https://gitlab.com/gitlab-org/gitlab/-/issues/12186))

Both situations put customer production GitLab usage at risk if a trial is applied to the SaaS namespace.

Instead, a customer should create a new namespace and trial there.  We have put together some [SaaS trial guidelines](/handbook/customer-success/solutions-architects/tools-and-resources/saas-trial-guidelines/) in order to make the process as seamless as possible for customers.



### Hands-on Workshops

GitLab Solutions Architects conduct hands-on workshops as interactive events for GitLab prospects and customers to learn the GitLab product and DevSecOps capabilities. Workshops may be executed as marketing events or run independently for specific customers. Detail information is provided on the [Hands-on Workshops](/handbook/customer-success/solutions-architects/tools-and-resources/workshop/) page.

### RFI/RFP Responses 

RFx's such as RFI and RFP are common steps in the public sector yet it may be required by enterprise customers to assess, evaluate and procure the software. Solution architects often participate in the RFP process responding to the technical asks and solutions requirements. Information on responding to the RFx can be found on the [RFI/RFP](https://about.gitlab.com/handbook/security/security-assurance/field-security/Field-Security-RFP.html) page.

### CS Knowledge Base

[The Customer Success Knowledge Base](https://gitlab.com/gitlab-com/customer-success/solutions-architecture/sa-knowledge-base/) is a private project for use primarily by Customer Success to capture important information that we research, discover, or otherwise stumble upon so that it can be reused in the future in responses to customer questions or RFI/RFPs. 

New KB Articles can be added to the project by:

- Creating a new issue directly from the project
- Reacting to a Slack post in \#cs-questions or \#solutions-architects with the :kb: ![kb.jpg](./kb.jpg) emoji which will trigger a workflow that
    - Prompts the user with a Slack form to provide a title for the KB issue entry. This needs to be completed within 1 minute
    - Creates a KB Article in the CS Knowlege Base project and then posts a link to the issue in the Slack thread

### Product Releases

Solution Architects have to keep up the pace of the GitLab monthly product releases to position feature sets and capabilities for the prospect and customer needs while demonstrating the market leading position. 

Following links provide product release information to assist in tehnical discussions and technical evaluation. 

- [Upcoming Releases](https://about.gitlab.com/upcoming-releases/)
- [Previous Releases](https://gitlab.com/gitlab-org/gitlab/-/releases)
- [Releases Blog](https://about.gitlab.com/releases/categories/releases/)
- Compare two releases with the [What is New Since? Release Feature Overview Tool](https://gitlab-com.gitlab.io/cs-tools/gitlab-cs-tools/what-is-new-since/?) 

### Customer Facing Meeting Tools

Solutions Architects frequently interact with customers for demos, presentations or Q&A. These calls should enable the customer to clearly experience the value of GitLab without distraction or interruption. The below list of tools was compiled by the GitLab SA team as commonly used solutions. Note, this list does not represent a requirement to use any of these products or an endorsement for these products.

- [Muzzle](https://muzzleapp.com/) to mute all notifications prior to beginning a call
- [Tab Resize Chrome plugin](https://chrome.google.com/webstore/detail/tab-resize-split-screen-l/bkpenclhmiealbebdopglffmfdiilejc?hl=en-US) to break tabs into split-screen viewing
- [Screenbrush](http://screenbrush.imagestudiopro.com/) to draw on the screen
- [Toby](http://www.gettoby.com/) or [Tabs Outliner](https://chrome.google.com/webstore/detail/tabs-outliner/eggkanocgddhmamlbiijnphhppkpkmkl) to launch many preset tabs at once
- [Station](https://getstation.com/) to group pages by application in a smart dock
- [MouseBeam](https://geeky.gent/tag/mousebeam/) enables the mouse cursor to use multiple screens like a circle
- [Rectangle](https://rectangleapp.com/) to quickly move and resize windows in macOS using keyboard shortcuts or snap areas
- [Dark Reader](https://darkreader.org/) enables browser dark mode to better fit room lighting
- [Postman](https://www.getpostman.com/) for API interaction
- [Visual Studio Code](https://code.visualstudio.com/) lightweight IDE text editor


#### Related macOS tips

- [Switch between full screen applications](https://www.intego.com/mac-security-blog/how-to-enter-and-exit-full-screen-mode-in-macos/) using the trackpad, Command keys or other options
- Use the [Zoom Accessibility Features](https://www.imore.com/how-use-zoom-mac) to zoom in on targeted screen locations
- [Work in multiple spaces on a single monitor](https://support.apple.com/en-gb/guide/mac-help/mh14112/mac) to keep multiple app windows or browser tabs open in fullscreen mode
    - Enables switching between windows or tabs with trackpad gestures, keeping display screen clean and uncluttered
    
### Useful Customer Facing Presentations

No two presentations are the same and we often find ourselves mixing and matching content tailored to our Customer's journey.  From Agile to CI/CD to Kubernetes and beyond, below are several commonly used decks rich in content to pull from.

- [Official Customer Facing Presentations](https://about.gitlab.com/handbook/marketing/brand-and-product-marketing/product-and-solution-marketing/#customer-facing-presentations) - Here you will find the [Company Pitch Deck](https://docs.google.com/presentation/d/1dVPaGc-TnbUQ2IR7TV0w0ujCrCXymKP4vLf6_FDTgVg/) with the GitLab narrative, [Customer Value Deck](https://docs.google.com/presentation/d/1SHSmrEs0vE08iqse9ZhEfOQF1UWiAfpWodIE6_fFFLg/) with Value Drivers and Differentiators, and [Security Deck](https://docs.google.com/presentation/d/1WHTyUDOMuSVK9uK7hhSIQ_JbeUbo7k5AW3D6WwBReOg/edit?usp=sharing) with best practices on Shift-Left security.   _These should be the starting point of any tailored deck!_
- [All The Things](https://docs.google.com/presentation/d/1mGMyciRrobnOgazoc20_Q5HiBcP8ydp_JWjzgBj4tRI/) - Not a pitch deck.  Owned by a Solution Architect, this is a holistic, tactical guide to GitLab as a Product constantly updated with screenshots.
- [Product Walkthrough Deck](https://docs.google.com/presentation/d/1jcnZbbfAyPJo0sIzqeN6nkfCS4nT_tMz/) - Product Walk-through from the lens of a Solution Architect covering Velocity, Visibility, and Security & Compliance.
- [Getting Started](https://docs.google.com/presentation/d/1LJTZ7SC4EWcXJx3ptiA23Cf1i33GJHTE) - Kicking off a POV? This is a fantastic deck to help Customers on their journey to setting up Users, Groups, Pipelines, Auto DevOps, and more.

### O'Reilly Learning Platform

In order to facilitate an environment of learning and development, the Solutions Architect team has access to the [O’Reilly Learning Platform](https://learning.oreilly.com/home/). This education platform contains thousands of books, videos and live learning courses to assist SA’s with gaining the knowledge they need to stay competitive.

More information can be found on the [Customer Success Education & Enablement page](https://about.gitlab.com/handbook/customer-success/education-enablement/).

### Linkedin Learning Platform

Linkedin Learning is another platform with various resources to help SA's during their onboarding journeys. 

### Getting started as an associate SA

Here are courses that will facilitate the onboarding process of associate SAs and help them in getting up to speed with the technical concepts required for the role:

**Free for Gitlab members**
- The learning path [Become a DevOps Engineer](https://www.linkedin.com/learning/paths/become-a-devops-engineer), particularly the following sections:
    - [DevOps Foundations](https://www.linkedin.com/learning/devops-foundations) 
    - [Learning Docker](https://www.linkedin.com/learning/learning-docker-2018) 
    - [DevOps Foundations - CI/CD](https://www.linkedin.com/learning/devops-foundations-continuous-delivery-continuous-integration-14449917)

- [Docker for the Absolute Beginner - Hands-On](https://learning.oreilly.com/videos/docker-for-the/9781788991315/) 

**Paid**
Paid courses can be expensed as part of the [Growth and Development benefits](https://about.gitlab.com/handbook/total-rewards/benefits/general-and-entity-benefits/growth-and-development/)
- IBM course on Coursera: [Information Technology (IT) and Cloud Fundamentals Specialization](https://www.coursera.org/specializations/it-cloud-fundamentals)
Especially the module [Introduction to Cloud Computing](https://www.coursera.org/learn/introduction-to-cloud?specialization=it-cloud-fundamentals)


